for_me.md
course_outline.xlsx
course_outline.xlsx
~$course outline.xlsx
~$chine_learning_info656-01_fall2020_syllabus.doc
~*.*
notebooks/.ipynb_checkpoints/
personal_notes/
labs/.ipynb_checkpoints/
solutions/*
labs/data/*
labs/data/
labs/saved_model/*
labs/saved_model/
